<section class="artistinfo">
  <div class="artist cf" ng-model="artists">
    <a class="btn btn-left" href="#/details/{{prevItem}}">

      <i class="fa fa-arrow-circle-left"></i>
    </a>
    <a class="btn btn-right" href="#/details/{{nextItem}}">

      <i class="fa fa-arrow-circle-right"></i>
    </a>
    <h1>{{artists[whichItem].name}}</h1>
    <div class="info">
     <h3>{{artists[whichItem].birthdate}}</h3>
     <img ng-src="images/{{artists[whichItem].shortname}}.jpg" alt="Photo of {{artists[whichItem].name}}">
     <div class="bio">{{artists[whichItem].bio}}</div>
   </div>
 </div>
 <a href="#/list"><i class="fa fa-arrow-left"></i>
  Back to search</a>
</section>